<a href="https://colab.research.google.com/github/sabbaninikhitha/2216160_AIML_Bootcamp_2023/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Methods of string
x='SR University is in warangal'
print(len(x))
print(x.upper())
print(x.lower())
print(x.capitalize())#first letter of the snetence is captialized
print(x.title())#first letter of each word  is capitalized 
print(x.swapcase())#swap lower and upper
print(x.startswith('S'))#checks whether sentence start with s
print(x.endswith('i'))

28
SR UNIVERSITY IS IN WARANGAL
sr university is in warangal
Sr university is in warangal
Sr University Is In Warangal
sr uNIVERSITY IS IN WARANGAL
True
False

In [ ]:
x='Nikhitha'
print(x.isalpha())
print(x.isalnum())
print(x.isascii())
print(x.islower())
print(x.isnumeric())
print(x.find('h'))#index of h
print(x.count('i'))#count of i
print(x.replace('a','a.Sabbani'))

True
True
True
False
False
3
2
Nikhitha.Sabbani

In [ ]:
#2.Methods of list
l=['a','b','c','d','e']
print(l)
print(len(l))
l.append('f')
print(l)
l.insert(0,"alphabets")
print(l)
l1=['g','h','i']
l.extend(l1)
print(l)
l.remove('h')
print(l)
l.pop(0)
print(l)
del l[7]
print(l)
l.reverse()
print(l)
l.clear()
print(l)

['a', 'b', 'c', 'd', 'e']
5
['a', 'b', 'c', 'd', 'e', 'f']
['alphabets', 'a', 'b', 'c', 'd', 'e', 'f']
['alphabets', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['alphabets', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'i']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'i']
['a', 'b', 'c', 'd', 'e', 'f', 'g']
['g', 'f', 'e', 'd', 'c', 'b', 'a']
[]

In [ ]:
#3.Methods of tupple
t=('air','bag','car','bag')
print(t)
print(len(t))
y=('door',)
t+=y
print(t)
x=t.count('bag')
print(x)
z=t.index('car')
print(z)

('air', 'bag', 'car', 'bag')
4
('air', 'bag', 'car', 'bag', 'door')
2
2

In [ ]:
#4.Methods of dictionary
d={"name":"nikhitha","surname":"sabbani","no":12234}
print(d)
d.update({'year':2002})
print(d)
x=d.get("name")
print(x)
y=d.items()
print(y)
z=d.values()
print(z)
d.pop("surname")
print(d)
d.popitem()
print(d)
d.clear()
print(d)

{'name': 'nikhitha', 'surname': 'sabbani', 'no': 12234}
{'name': 'nikhitha', 'surname': 'sabbani', 'no': 12234, 'year': 2002}
nikhitha
dict_items([('name', 'nikhitha'), ('surname', 'sabbani'), ('no', 12234), ('year', 2002)])
dict_values(['nikhitha', 'sabbani', 12234, 2002])
{'name': 'nikhitha', 'no': 12234, 'year': 2002}
{'name': 'nikhitha', 'no': 12234}
{}

In [ ]:
#5.Methods of sets
s1={1,2,3,4,5,6}
s2={5,6,7,8,9,10}
s1|s2
print(s1.union(s2))
s1&s2
print(s1.intersection(s2))
print(s1.difference(s2))
s1^s2
print(s1.issubset(s2))
s1.add(9)
print(s1)
s3=s1.copy()
print(s3)
s2.pop()
print(s2)
s2.remove(6)
print(s2)
s4={19,18,17}
s1.update(s4)
print(s1)
s1.discard(6)
print(s1)
s1.clear()
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6}
{1, 2, 3, 4}
False
{1, 2, 3, 4, 5, 6, 9}
{1, 2, 3, 4, 5, 6, 9}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 9, 17, 18, 19}
{1, 2, 3, 4, 5, 9, 17, 18, 19}
set()

In [ ]:
#6.convert Decimal to Binary, Octal and Hexadecimal with direct method.
n = int(input("Enter an integer: "))
 
print("The decimal value of", n, "is:")
print(bin(n), "in binary.")
print(oct(n), "in octal.")
print(hex(n), "in hexadecimal.")

Enter an integer: 12
The decimal value of 12 is:
0b1100 in binary.
0o14 in octal.
0xc in hexadecimal.

In [ ]:

#7.Arthmetic operators
a=int(input("enter first integer:"))
b=int(input("enter second integer:"))
print("sum of ",a,"and",b,"is",(a+b))
print("subtraction of",a,"and",b,"is",(a-b))
print("multiplication of",a,"and",b,"is",(a*b))
print("division of",a,"and",b,"is",(a/b))
print("modulus of",a,"and",b,"is",(a%b))
print("floor division of",a,"and",b,"is",(a//b))
print("power of",a,"and",b,"is",(a**b))

enter first integer:3
enter second integer:4
sum of  3 and 4 is 7
subtraction of 3 and 4 is -1
multiplication of 3 and 4 is 12
division of 3 and 4 is 0.75
modulus of 3 and 4 is 3
floor division of 3 and 4 is 0
power of 3 and 4 is 81

In [ ]:
#8.Assignment operators
a=int(input("enter first integer:"))
b=int(input("enter second integer"))
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a**=b
print(a)
a//=b
print(a)
a%=b
print(a)

enter first integer:2
enter second integer3
5
2
6
2.0
8.0
2.0
2.0

In [ ]:
#9.Comparsion operators
a=int(input("enter first integer:"))
b=int(input("enter second integer:"))
print((a<b))
print((a<=b))
print((a>b))
print((a>=b))
print((a==b))
print((a!=b))

enter first integer:8
enter second integer:4
False
False
True
True
False
True

In [ ]:
#10.Logical operators
c=int(input("enter first integer:"))
d=int(input("enter second integer"))
print((c>d)and(c<=d))
print((c<d)or(c>=d))
print(not(c!=d))

enter first integer:3
enter second integer5
False
True
False

In [ ]:
#11.bitwise operators
a=int(input("enter first integer:"))
b=int(input("enter second integer"))
print(a&b)
print(a/b)
print(a^b)
print(a<<1)
print(a>>2)
print(b<<3)

enter first integer:20
enter second integer10
0
2.0
30
40
5
80

In [ ]:
#12.membership operators 
x="Nikhitha"
print('a' in x)

True

In [ ]:
#13.Indentity operators
a=10
b=20
print(a is b)
print(a is not b)

False
True

In [ ]:
#14.list slicing indexing
l=[1,2,3,4,5,6,7,8,9]
print(l[-7::1])
print(l[1:4])
print(l[1:2:8])
print(l[::2])
print(l[::])

[3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[2]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#15.Predict the output for the given code snippet and justify the result.
print('A series of characters designates as one object known as a string'[::-1][4::3])
print("----------")
print('welcome to python training program'[3:10][::-1])

taawkcbe  tgestrcoeeA
----------
ot emoc

In [6]:
#16.	Write a python code to get desired output
a="was it a car or a cat I saw"
y=(a[::-1])
print(y.upper())

WAS I TAC A RO RAC A TI SAW

In [ ]:
#17.You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X
X=int(input("enter x value"))
print(X*'Z'+(2*X*'O'))

enter x value5
ZZZZZOOOOOOOOOO