<a href="https://colab.research.google.com/github/sabbaninikhitha/2216160_AIML_Bootcamp_2023/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#arithmetic opertaors
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

15
5
50
100000
2.0
2
0

In [ ]:
#comparison operators
a==b
a<=b
a>=b
a>>b
a!=b

True

In [ ]:
#assignment operators
a=10
b=5
c=a+b
c-=a
c=c-a
print(c)

-5

In [ ]:
#logical operators
x=True
y=False
print(x and y)
print(x or y)
print(not y)

False
True
True

In [ ]:
#bitise opertaors
a=13 #0000 1101
b=14 #0000 1110
print(a&b)#and
print(a|b) #or
print(~a)
print(a>>2)
print(a<<2)

12
15
-14
3
52

In [ ]:
#membership opertors
x="hello world"
print('w' in x)

True

In [ ]:
#identity operator
x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 in y3)

False
True
False

In [ ]:
a=input("enter string:")
print(a)
b=input("enter string:")
print(b)

enter string:sabbani
sabbani
enter string:nikhitha
nikhitha

In [ ]:
#strings
str="gradstellar"
#indexing
print(str[0])
print(str[-1])
#slicing
print(str[0:7:2])
#reverse a string
print(str[::-1])
#string methods
n="Im a Student"
print(n.upper())
print(n.lower())

g
r
gase
ralletsdarg

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#string formats
name="nikhitha"
language="English"
year=2023
print(name,"is teaching",language,"in",year)
#raw string
print(f"{name} is teaching {language}  in {year}")

nikhitha is teaching English in 2023
nikhitha is teaching English  in 2023

In [ ]:
#list
list=[1,2,3,4]
list1=[1,"hello","3.0"]
list2=["apple","banana","cherry"]
#indexing
print(list[2])
print(list[-1])
#slicing
print(list[:3])
#nested list
list3=["dragonfruit",list,list[1]]
print(list3[0][0:6])
print(list3[0][6:11])
list.append(5)
print(list)
l1=[4,1,4,5,6,7,89,0,1,2]
print(l1.count(1))
print(len(l1))
l1.reverse()
print(l1)
l1.sort()

3
4
[1, 2, 3]
dragon
fruit
[1, 2, 3, 4, 5]
2
10
[2, 1, 0, 89, 7, 6, 5, 4, 1, 4]